<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat Messages Page</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> <!-- https://developers.google.com/fonts/docs/getting_started -->
  <link rel="stylesheet" href="../style.css">
  <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script defer src="../services/message.js"></script>
  <script defer src="../components/message.js"></script>
  <script defer src="../pages/chat.js"></script>
  <script defer src="../index.js"></script>
</head>
<body>
  <h1 class="leader-h">Chat</h1>
  <p>Hello <%= name %> </p>
  <img src="<%= profilePic %>" >
  <div>
    <a href="/auth/logout">Logout</a>
  </div>
  <div class="message-container">
    <input type="text" class="new-message-input" id="new-message" placeholder="<%= name %> say something . . .">
    <button onclick="MessageComponent.addNewMessage('<%= name %>')" class="btn-message" id="message">Message</button>
  </div>
  
  <div class="messages" id="messages-target"> <!-- later to be filled from the server -->
  </div>
</body>
</html>