<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat Fronted</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home for <%= name %></a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>

  <h1 class="leader-h">Chat</h1>
</body>
</html>