<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat Login Page</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> <!-- https://developers.google.com/fonts/docs/getting_started -->
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <h1 class="leader-h">Chat</h1>
  <p> <%= message %> </p>
  <a id="google-login-button" href="/auth/google">
    <img alt="Qries" src='../img/google.login.png'>
  </a>
</body>
</html>